body {
    font-family: 'Inter', sans-serif;
    color: #151515;
}

.header {
    background-color: #151515;
}

.header-main {
    /*background-color: transparent;*/
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.menu {
    align-self: flex-end;
}

.menu__list {
    max-width: 670px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.menu__list-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer {
    /*background-color: #151515;*/
    background-color: #43c0e8;
    color: #FFFFFF;
}

.footer a {
    color: #FFFFFF;
}

.footer__inner {
    padding: 50px 0 32px 0;
}

.footer__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list {
    max-width: 225px;
}

.footer__menu-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}

.footer__menu-item + .footer__menu-item {
    margin-bottom: 20px;
}



