body {
    font-family: 'Inter', sans-serif;
    color: #151515;
}

.header {
    background-color: #151515;
}

.header-main {
    /*background-color: transparent;*/
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.menu {
    align-self: flex-end;
}

.menu__list {
    max-width: 670px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.menu__list-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer {
    background-color: #151515;
    color: #FFFFFF;
}

.footer a {
    color: #FFFFFF;
}

.footer__inner {
    padding: 50px 99px 32px 81px;
}

.footer__menu {
    display: flex;
    justify-content: space-around;
}