body {
    font-family: 'Inter', sans-serif;
    color: #151515;
}

.header {
    background-color: #151515;
}

.header-main {
    /*background-color: transparent;*/
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.menu {
    align-self: flex-end;
}

.menu__list {
    max-width: 670px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.menu__list-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer {
    background-color: #151515;
    /*background-color: #43c0e8;*/
    color: #FFFFFF;
}

.footer a {
    color: #FFFFFF;
}

.footer__inner {
    padding: 50px 99px 32px 81px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__menu-list {
    max-width: 225px;
}

.list-2 {
    transform: translateX(31px);
}

.list-3 {
    transform: translateX(4px);
}

.footer__menu-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}

.footer__menu-item + .footer__menu-item {
    margin-bottom: 20px;
}

.app {
    display: flex;
    justify-content: center;
    gap: 39px;
    margin-bottom: 52px;
}

.footer__copy {
    margin: 0 auto 30px;
    max-width: 806px;
    text-align: center;
}

.footer__copy-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.copy__nav {
    max-width: 586px;
    margin: 0 auto;
}

.copy__nav-list {
    display: flex;
    gap: 40px;
}


